# Exclude the following directories that contain user specific settings or 
# that are changed automatically 
/.gwt
/.settings
/bin
/gwt-unitCache
/war/lingolearn
/war/WEB-INF/deploy
/war/WEB-INF/lib
/war/WEB-INF/appengine-generated

# TODO Determine what the following excludes are for
/build
/classes
*.jar
*.class
*~
*/web-app/gwt
*/web-app/WEB-INF/classes
target

